# Puerto del servidor
PORT=3000
NODE_ENV=development

# Conexión a Base de Datos (PostgreSQL o MySQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/plastic_factory_db?schema=public"

# JWT Secret & Expiration
JWT_SECRET="super-secret-jwt-key-for-plastics-erp"
JWT_EXPIRES_IN="7d"
